 .files{
  flex: 1;
  max-width: 18em;
  height: 100%;
  
  margin: 0;
  background-color: red;
  display: flex;
  flex-direction: column;

  .file{
    position: relative;
    height: 2em;
    padding-left: 0.4em;

    display: flex;
    justify-content: space-between;
    align-items: center;


    img{
      height: 1em;
      padding: 0.3em 0;
    }

    &:hover{
      scale: 0.99;
      cursor: pointer;
    }

  }
}
.options-area:hover{
  .options{
    display: block;
  }
}

.options{
  position: absolute;
  width: 5em;
  right: -5em;
  top: 0;
  display: none;

  padding: 0.1em 0.3em;
  padding-left: 0.1em;

  background-color: lightgray;
  border-radius: 2px;
  font-size: 0.9rem;
}