

.settings{

}

.settings-options{
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 1em; 
  background-color: gold;
}

.settings-option{
  display: flex;
  justify-content: space-between;
}

.submit{
  position: absolute;
  right: 2em;
  bottom: 2em;

  display: flex;
  gap: 0.5em;

  button{
    padding: var(--small) 0.4em;
    border: 0;
    border-radius: 8%;

    color: #FDF1F5;
    background-color: darkgray;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.settings-preview{
  resize: none;

  border: 0;
  outline: 2px solid gray;
}
.settings-preview::-webkit-scrollbar{
  display: none;

}

.settings-container{
  display: flex;
  background: lightslategray;
  height: 9em;
  width: 60%;
  margin: 2em 20%;
}