:root{
  --sidebar: 1.5em;
  --small: 0.3em;

}
*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}

.window{
  height: 100vh;
  width: 100w;

  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar{
  width: var(--sidebar);
  height: 100%;
  
  background-color: gray;
}

.container{
  flex: 1;
  height: 100vh;
  margin: 0;
  gap: var(--small);
  box-sizing: border-box;
  

  display: flex;
  #line-number{
    max-width: 2ch;
    height: calc(100% - var(--small));

    padding: 0;
    padding-top: var(--small);

    white-space: pre-wrap; /*To work \n in text-area*/
  }
  textarea{
    flex: 1;
    height: calc(100% - var(--small) - var(--small));

    resize: none;
    border: none;
    outline: none;
    
    padding: var(--small);
    line-height: 1.1rem;
    font-size: 1rem;
    
    white-space: nowrap;
  }
}

#line-number::-webkit-scrollbar {
   display: none;
 }

